body {
  font-family: sans-serif;
}
h1 {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.app {
  width: 55ch;
  margin: 0 auto;
}

.fields, .message {
    width: 40ch;
    margin: 0 auto;
    margin-bottom: 1.5rem
}
label { font-weight: medium;}
fieldset {
    border: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: start;
    justify-items: start;
}

.slider-input {
    display: flex;
    
}

/* footer { margin-top: 1.5rem} */

.slider-input input {

}

.message {
  display: none;
}
.message span {
    background-color: yellow;
}



